GITHUB_PACKAGES_USERNAME=your_github_username
GITHUB_PACKAGES_TOKEN=your_github_personal_access_token

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_SECRET_KEY=your_jwt_signing_key
MONGODB_URI= mongodb://your_mongodb_uri

REDIS_HOSTNAME=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_SASL_USERNAME=your_kafka_username
KAFKA_SASL_PASSWORD=your_kafka_password
